In [12]:
import pandas as pd
data = pd.read_excel('clean_ver.xlsx')
data

,Unnamed: 0,City,Date,PM2.5,NO,NO2,NOx,CO,SO2,O3,AQI,AQI_Bucket,year
0,731,ahmedabad,2017-01-01,67.854497,22.443395,59.054643,47.388267,22.208613,55.273918,39.084203,166,moderate,2017
1,732,ahmedabad,2017-02-01,67.854497,22.443395,59.054643,47.388267,22.208613,55.273918,39.084203,166,moderate,2017
2,733,ahmedabad,2017-03-01,67.854497,22.443395,59.054643,47.388267,22.208613,55.273918,39.084203,166,moderate,2017
3,734,ahmedabad,2017-04-01,67.854497,22.443395,59.054643,47.388267,22.208613,55.273918,39.084203,166,moderate,2017
4,735,ahmedabad,2017-05-01,67.854497,22.443395,59.054643,47.388267,22.208613,55.273918,39.084203,166,moderate,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...
18002,29526,visakhapatnam,2020-06-27,15.020000,7.680000,25.060000,19.540000,0.470000,8.550000,23.300000,41,good,2020
18003,29527,visakhapatnam,2020-06-28,24.380000,3.420000,26.060000,16.530000,0.520000,12.720000,30.140000,70,satisfactory,2020
18004,29528,visakhapatnam,2020-06-29,22.910000,3.450000,29.530000,18.330000,0.480000,8.420000,30.960000,68,satisfactory,2020
18005,29529,visakhapatnam,2020-06-30,16.640000,4.050000,29.260000,18.800000,0.520000,9.840000,28.300000,54,satisfactory,2020
18006,29530,visakhapatnam,2020-01-07,15.000000,0.400000,26.850000,14.050000,0.590000,2.100000,17.050000,50,good,2020

In [13]:
data=data.drop(columns=['Unnamed: 0'])
data

,City,Date,PM2.5,NO,NO2,NOx,CO,SO2,O3,AQI,AQI_Bucket,year
0,ahmedabad,2017-01-01,67.854497,22.443395,59.054643,47.388267,22.208613,55.273918,39.084203,166,moderate,2017
1,ahmedabad,2017-02-01,67.854497,22.443395,59.054643,47.388267,22.208613,55.273918,39.084203,166,moderate,2017
2,ahmedabad,2017-03-01,67.854497,22.443395,59.054643,47.388267,22.208613,55.273918,39.084203,166,moderate,2017
3,ahmedabad,2017-04-01,67.854497,22.443395,59.054643,47.388267,22.208613,55.273918,39.084203,166,moderate,2017
4,ahmedabad,2017-05-01,67.854497,22.443395,59.054643,47.388267,22.208613,55.273918,39.084203,166,moderate,2017
...,...,...,...,...,...,...,...,...,...,...,...,...
18002,visakhapatnam,2020-06-27,15.020000,7.680000,25.060000,19.540000,0.470000,8.550000,23.300000,41,good,2020
18003,visakhapatnam,2020-06-28,24.380000,3.420000,26.060000,16.530000,0.520000,12.720000,30.140000,70,satisfactory,2020
18004,visakhapatnam,2020-06-29,22.910000,3.450000,29.530000,18.330000,0.480000,8.420000,30.960000,68,satisfactory,2020
18005,visakhapatnam,2020-06-30,16.640000,4.050000,29.260000,18.800000,0.520000,9.840000,28.300000,54,satisfactory,2020
18006,visakhapatnam,2020-01-07,15.000000,0.400000,26.850000,14.050000,0.590000,2.100000,17.050000,50,good,2020

In [14]:
data['month'] = pd.DatetimeIndex(data['Date']).month
data.head()
data

,City,Date,PM2.5,NO,NO2,NOx,CO,SO2,O3,AQI,AQI_Bucket,year,month
0,ahmedabad,2017-01-01,67.854497,22.443395,59.054643,47.388267,22.208613,55.273918,39.084203,166,moderate,2017,1
1,ahmedabad,2017-02-01,67.854497,22.443395,59.054643,47.388267,22.208613,55.273918,39.084203,166,moderate,2017,2
2,ahmedabad,2017-03-01,67.854497,22.443395,59.054643,47.388267,22.208613,55.273918,39.084203,166,moderate,2017,3
3,ahmedabad,2017-04-01,67.854497,22.443395,59.054643,47.388267,22.208613,55.273918,39.084203,166,moderate,2017,4
4,ahmedabad,2017-05-01,67.854497,22.443395,59.054643,47.388267,22.208613,55.273918,39.084203,166,moderate,2017,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
18002,visakhapatnam,2020-06-27,15.020000,7.680000,25.060000,19.540000,0.470000,8.550000,23.300000,41,good,2020,6
18003,visakhapatnam,2020-06-28,24.380000,3.420000,26.060000,16.530000,0.520000,12.720000,30.140000,70,satisfactory,2020,6
18004,visakhapatnam,2020-06-29,22.910000,3.450000,29.530000,18.330000,0.480000,8.420000,30.960000,68,satisfactory,2020,6
18005,visakhapatnam,2020-06-30,16.640000,4.050000,29.260000,18.800000,0.520000,9.840000,28.300000,54,satisfactory,2020,6
18006,visakhapatnam,2020-01-07,15.000000,0.400000,26.850000,14.050000,0.590000,2.100000,17.050000,50,good,2020,1

In [16]:
df1= data[(data['year']==2020)& (data['month']!=1) & (data['month']!=2)&(data['month']!=6)&(data['month']!=7)]
df1=df1.drop(columns=['month'])
df1

,City,Date,PM2.5,NO,NO2,NOx,CO,SO2,O3,AQI,AQI_Bucket,year
1097,ahmedabad,2020-03-01,69.54,7.06,15.13,12.65,7.06,35.78,23.66,220,poor,2020
1098,ahmedabad,2020-04-01,66.20,8.97,20.79,16.84,8.97,38.98,23.65,254,poor,2020
1099,ahmedabad,2020-05-01,55.99,5.41,15.34,11.53,5.41,45.83,23.61,255,poor,2020
1102,ahmedabad,2020-08-01,61.40,2.38,16.33,9.74,2.38,30.54,23.59,157,moderate,2020
1103,ahmedabad,2020-09-01,38.89,2.41,14.14,8.70,2.41,46.78,23.64,129,moderate,2020
...,...,...,...,...,...,...,...,...,...,...,...,...
17983,visakhapatnam,2020-08-06,31.14,6.55,41.56,27.26,0.64,6.61,36.65,115,moderate,2020
17984,visakhapatnam,2020-09-06,31.84,4.69,50.11,30.35,0.88,5.06,33.86,96,satisfactory,2020
17985,visakhapatnam,2020-10-06,32.55,4.78,44.59,27.38,0.69,5.90,35.06,92,satisfactory,2020
17986,visakhapatnam,2020-11-06,37.71,9.97,52.10,35.79,0.70,5.59,26.59,90,satisfactory,2020
17987,visakhapatnam,2020-12-06,37.67,12.17,53.59,35.52,0.97,5.74,17.35,84,satisfactory,2020

In [18]:
df1=df1.reset_index(drop=True)
df1

,City,Date,PM2.5,NO,NO2,NOx,CO,SO2,O3,AQI,AQI_Bucket,year
0,ahmedabad,2020-03-01,69.54,7.06,15.13,12.65,7.06,35.78,23.66,220,poor,2020
1,ahmedabad,2020-04-01,66.20,8.97,20.79,16.84,8.97,38.98,23.65,254,poor,2020
2,ahmedabad,2020-05-01,55.99,5.41,15.34,11.53,5.41,45.83,23.61,255,poor,2020
3,ahmedabad,2020-08-01,61.40,2.38,16.33,9.74,2.38,30.54,23.59,157,moderate,2020
4,ahmedabad,2020-09-01,38.89,2.41,14.14,8.70,2.41,46.78,23.64,129,moderate,2020
...,...,...,...,...,...,...,...,...,...,...,...,...
1555,visakhapatnam,2020-08-06,31.14,6.55,41.56,27.26,0.64,6.61,36.65,115,moderate,2020
1556,visakhapatnam,2020-09-06,31.84,4.69,50.11,30.35,0.88,5.06,33.86,96,satisfactory,2020
1557,visakhapatnam,2020-10-06,32.55,4.78,44.59,27.38,0.69,5.90,35.06,92,satisfactory,2020
1558,visakhapatnam,2020-11-06,37.71,9.97,52.10,35.79,0.70,5.59,26.59,90,satisfactory,2020
1559,visakhapatnam,2020-12-06,37.67,12.17,53.59,35.52,0.97,5.74,17.35,84,satisfactory,2020

In [72]:
import scipy.stats
from scipy.stats import norm
import numpy as np
import math
from math import sqrt
a_pop_mean = data['AQI'].mean()
pop_mean = 0.65*data['AQI'].mean()
pop_var = data['AQI'].var()
pop_sd=math.sqrt(pop_var)
s_mean = (df1['AQI'].mean())
s_var = df1['AQI'].var()
s_sd=math.sqrt(s_var)
n=1559
alpha=0.05
print("H0 statement: The AQI has reduced by nearly more than 65% during lockdown")
print("H1 statement: The AQI has not reduced more than 65% during lockdown")
print('Mean of column AQI in 2020 (sample mean): ' ,s_mean)
print('Mean of column AQI (population mean): ' ,a_pop_mean)
print('65% of population mean: ' ,pop_mean)
print('Alpha: ',alpha)
print('Sample size (total observations in 2020): ',n)
print('Standard deviation is: ',s_sd)
hypo_z=(s_mean-pop_mean)/(s_sd/sqrt(n))
print('hypothetical z value: ',hypo_z,'\n')
if ((scipy.stats.norm.sf(abs(hypo_z)))>0.05):
    print("Reject hypothesis")
else:
    print("Failed to reject hypothesis")
print('H0 : Î¼ >=', pop_mean)
print('H1 : Î¼ <', pop_mean)
value=one_sided_hypo(s_mean,pop_mean,s_sd,n,alpha)

print("P value was found to be(in %)",100-scipy.stats.norm.sf(abs(hypo_z))*100)

H0 statement: The AQI has reduced by nearly more than 65% during lockdown
H1 statement: The AQI has not reduced more than 65% during lockdown
Mean of column AQI in 2020 (sample mean):  113.34871794871795
Mean of column AQI (population mean):  168.29044260565337
65% of population mean:  109.38878769367469
Alpha:  0.05
Sample size (total observations in 2020):  1559
Standard deviation is:  68.2388378983247
hypothetical z value:  2.2912842629055534

Failed to reject hypothesis
H0 : Î¼ >= 109.38878769367469
H1 : Î¼ < 109.38878769367469
hypothetical z value:  2.2912842629055534

P value was found to be(in %) 98.9026510906384